html {
  font-size: 100%;
}

body {
  background-color: #0f0f0f;
  color: #fff;
  font-weight: 400;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  cursor: pointer;
  outline: 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1660px;
  margin: auto;
}

.banner12 {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  position: relative;
}
.banner12::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.banner12::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(0deg, #0f0f0f transparent);
}

.content1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-top: -200px;
  max-width: 1260px;
  padding: 0 2rem;
  position: relative;
  margin-bottom: 3rem;
}
.content1 .content1-poster {
  flex: 1 1;
}
.content1 .content1-poster .content-poster-img {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  padding-top: 165%;
}
.content1 .content1-info {
  padding-left: 2rem;
  position: relative;
  width: 70%;
}
.content1 .content1-info h1 {
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 2rem;
}
.content1 .content1-info .category {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.content1 .content1-info .category .category_item {
  background-color: #0f0f0f;
  border: 2px solid #fff;
  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  margin-bottom: 2rem;
}
.content1 .content1-info .desc {
  margin-bottom: 2rem;
}

.cast {
  margin-bottom: 2rem;
}
.cast .cast-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cast .casts {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.cast .casts .casts_item .casts_item_img {
  background-size: cover;
  margin-bottom: 0.5rem;
  padding-top: 160px;
}
.cast .casts .casts_item .casts_item_name {
  font-size: 0.8rem;
}

.main_content {
  padding: 0 2rem;
  margin-bottom: 3rem;
}
.main_content .video {
  margin-bottom: 3rem;
}
.main_content .video .video_title {
  margin-bottom: 1.5rem;
}
.main_content .video iframe {
  border: 0;
}
.main_content .main_content_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.tv_card_box {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  -moz-column-gap: 2%;
       column-gap: 2%;
  row-gap: 3%;
}

.tv_card .c_img_detail {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  margin-bottom: 1rem;
  padding-top: 160%;
  position: relative;
}
.tv_card.c_img_detail:hover {
  color: red;
}
.tv_card.c_img_detail::before {
  background-color: #000;
  border-radius: 15px;
  bottom: 0;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  transition: 0.3s;
}
@media (hover: hover) and (pointer: fine) {
  .tv_card:hover::before {
    opacity: 0.8;
  }
  .tv_card:hover .card-btn {
    transform: translate(-50%, -50%) scale(0.7);
  }
}
.tv_card .card-btn_detail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s;
  box-shadow: 0.3s;
  background-color: red;
  border: 4px solid transparent;
  border-radius: 15px;
  box-shadow: 0 0 7px 8px rgba(255, 0, 0, 0.302);
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.3rem 1.1rem;
  transition: box-shadow 0.3s ease;
}
.tv_card .card-btn_detail box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tv_card .c_title_detail p {
  font-size: 1.2em;
  font-weight: bold;
}