@import '../common';

.form{
    max-width: 320px;
    position: relative;
    width: 100%;
    .search-form{
        --width-of-input: 200px;
        --border-height: 1px;
        --border-before-color: hsla(0, 0%, 87%, .39);
        --border-after-color: red;
        --input-hovered-color: #4985e01f;
        position: relative;
        width: var(--width-of-input);
        >input{
            background-color: transparent;
            border: none;
            border-bottom: var(--border-height) solid var(--border-before-color);
            box-sizing: border-box;
            color: #fff;
            font-size: .9rem;
            padding-block: .7em;
            padding-inline: .5em;
            outline: 0;
            width: 100%;
        }
        .input-border{
            background-color: var(--border-after-color);
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            transition: .3s;
            width: 0;
        }
    }
}